.header-container {
  height: 70px;
}
.header-container .left-container .logo {
  display: flex;
  width: 106px;
  height: 43px;
}
.header-container .left-container .nav-box {
  width: 400px;
  margin-left: 110px;
}
.header-container .left-container .nav-box li {
  display: flex;
  flex-direction: column;
}
.header-container .left-container .nav-box li.active .active-line {
  opacity: 1;
}
.header-container .left-container .nav-box li a {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 33px;
  text-decoration: none;
}
.header-container .left-container .nav-box li .active-line {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #3F89F6;
  border-radius: 2px;
  opacity: 0;
}
.header-container .right-container .login-btn-box {
  display: flex;
  align-items: center;
}
.header-container .right-container .login-btn-box .login-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 33px;
  text-decoration: none;
  margin-right: 27px;
}
.header-container .right-container .login-btn-box .login-btn img {
  margin-right: 3px;
}
.header-container .right-container .right-login-box {
  display: flex;
  align-items: center;
}
.header-container .right-container .right-login-box .user-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.header-container .right-container .right-login-box .back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 32px;
  background: #FCFCFC;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  margin-left: 20px;
}
.content-box {
  width: 100%;
  min-height: calc(-50vh);
  background-color: #F7F8FB;
  padding-bottom: 50px;
}
.breadcrumb-navigation {
  height: 75px;
  font-size: 16px;
  font-family: Adobe Heiti Std;
  font-weight: normal;
  color: #000000;
  line-height: 75px;
}
.breadcrumb-navigation a {
  text-decoration: none;
  color: #000000;
}
.breadcrumb-navigation a.blue {
  color: #3F89F6;
}
.event-detail-container .article-box {
  display: flex;
  justify-content: space-between;
}
.event-detail-container .article-box .left-article-box {
  width: 800px;
  padding: 37px 66px 56px 41px;
  background-color: #fff;
  border-radius: 10px;
}
.event-detail-container .article-box .left-article-box .title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 30px;
  margin-bottom: 30px;
}
.event-detail-container .article-box .left-article-box .title span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  width: 60px;
  height: 20px;
  background: #F4F5F8;
  border-radius: 3px;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
}
.event-detail-container .article-box .left-article-box .time {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  margin-bottom: 25px;
}
.event-detail-container .article-box .left-article-box .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.event-detail-container .article-box .left-article-box .info-box .user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}
.event-detail-container .article-box .left-article-box .info-box .user-name {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 18px;
}
.event-detail-container .article-box .left-article-box .article-content {
  text-align: justify;
  color: #333;
  word-break: break-all;
}
.event-detail-container .article-box .right-article-box {
  width: 376px;
  background: #FFFFFF;
  padding: 40px 30px;
  border-radius: 10px;
}
.event-detail-container .article-box .right-article-box .title {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  line-height: 30px;
  margin-bottom: 20px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item {
  display: flex;
  margin-bottom: 12px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .left-status-icon {
  width: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-top: 5px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .left-status-icon .circle {
  width: 11px;
  height: 11px;
  background: #3F89F6;
  border: 1px solid #3F89F6;
  border-radius: 50%;
  margin-bottom: 5px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .left-status-icon .circle.before-circle {
  background-color: #fff;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .left-status-icon .line_1 {
  width: 0;
  height: 60px;
  border-right: 1px dashed #3F89F6;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .left-status-icon .line_1.long-line {
  height: 150px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .right-status-text .title {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 19px;
  margin-bottom: 15px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .right-status-text .time {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 19px;
  margin-bottom: 18px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .right-status-text .comment-box {
  width: 300px;
  background: #F7F8FB;
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
}
.event-detail-container .article-box .right-article-box .right-article-status .status-item .right-status-text .text-area {
  width: 300px;
  height: 100px;
  background: #F7F8FB;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
  resize: none;
}
.event-detail-container .article-box .right-article-box .right-article-status .publish-button {
  width: 120px;
  height: 44px;
  background: #3F89F6;
  border-radius: 10px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 44px;
  cursor: pointer;
  text-align: center;
  margin-top: 16px;
  margin-left: 205px;
}
.event-detail-container .comment-box {
  padding: 24px 50px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-top: 23px;
  margin-bottom: 20px;
}
.comment-text-area {
  display: block;
  width: 1100px;
  height: 70px;
  background: #F7F8FB;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333;
  line-height: 20px;
  resize: none;
  margin-bottom: 20px;
}
.event-detail-container .comment-box .btn-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.event-detail-container .comment-box .btn-box .comment-btn {
  width: 120px;
  height: 44px;
  background: #3F89F6;
  border-radius: 10px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 44px;
  text-align: center;
  margin-top: 18px;
  cursor: pointer;
}
.event-detail-container .all-comment-container {
  padding: 36px 57px 20px 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.event-detail-container .all-comment-container .title {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
}
.event-detail-container .all-comment-container .comment-list {
  width: 100%;
}
.event-detail-container .all-comment-container .comment-list .comment-item {
  width: 100%;
  display: flex;
  padding-top: 38px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F7F8FB;
}
.event-detail-container .all-comment-container .comment-list .comment-item .user-img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info {
  width: 100%;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info .user-name {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 50px;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info .comment-text {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  margin-bottom: 20px;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info .time-box {
  display: flex;
  justify-content: space-between;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info .time-box p {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info .time-box img {
  width: 18px;
  height: 15px;
  cursor: pointer;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info .child-comment {
  width: 1050px;
  background-color: #F7F8FB;
  display: flex;
  padding: 25px 40px;
}
.event-detail-container .all-comment-container .comment-list .comment-item .content-info .child-comment .comment-box {
  width: 900px;
  padding: 20px;
}
.event-detail-container .all-comment-container .comment-list .comment-item .comment-box {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.event-detail-container .all-comment-container .comment-list .comment-item .comment-box .comment-text-area {
  width: 100%;
}

.forum-content-container .comment-list-box {
  width: 100%;
  border-top: 1px solid #eee;
}
.forum-content-container .comment-list-box .comment-item {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.forum-content-container .comment-list-box .comment-item .top-comment {
  width: 100%;
  display: flex;
}
.forum-content-container .comment-list-box .comment-item .top-comment .img-box {
  margin-right: 10px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .img-box img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box {
  width: 1120px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .name {
  font-size: 14px;
  color: #337ab7;
  margin-bottom: 10px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .name span {
  font-size: 12px;
  color: #777;
  margin-left: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .content {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .left {
  display: flex;
  align-items: center;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .right {
  display: flex;
  align-items: center;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .right img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .small-img-box {
  margin-right: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .small-img-box img {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .num {
  font-size: 12px;
  color: #337ab7;
  margin-right: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .text {
  font-size: 12px;
  color: #333;
  margin-right: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-box .icon {
  font-size: 14px;
  color: #337ab7;
  cursor: pointer;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list {
  display: flex;
  border-left: 5px solid #eee;
  padding-left: 60px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list ul li {
  display: flex;
  margin-bottom: 20px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list ul li:last-child {
  margin-bottom: 0;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .left-header-img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .left-header-img img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .right-reply-info-box .name {
  font-size: 14px;
  color: #337ab7;
  margin-bottom: 15px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .right-reply-info-box .time {
  font-size: 12px;
  color: #777;
  margin-left: 5px;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list .right-reply-info-box .reply-text {
  font-size: 16px;
  line-height: 20px;
  color: #333;
}
.forum-content-container .comment-list-box .comment-item .text-area-box {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.forum-content-container .comment-list-box .comment-item .text-area-box .text-area {
  width: 100%;
  margin-bottom: 20px;
}
.forum-content-container .comment-list-box .comment-item .text-area-box .publish-btn {
  width: 100px;
  align-self: flex-end;
}
.forum-content-container .comment-list-box .comment-item .top-comment .right-info-box .reply-list.reply-hidden {
  display: none;
}