.header-container {
  height: 70px;
}
.header-container .left-container .logo {
  display: flex;
  width: 106px;
  height: 43px;
}
.header-container .left-container .nav-box {
  width: 400px;
  margin-left: 110px;
}
.header-container .left-container .nav-box li {
  display: flex;
  flex-direction: column;
}
.header-container .left-container .nav-box li.active .active-line {
  opacity: 1;
}
.header-container .left-container .nav-box li a {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 33px;
  text-decoration: none;
}
.header-container .left-container .nav-box li .active-line {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #3F89F6;
  border-radius: 2px;
  opacity: 0;
}
.header-container .right-container .login-btn-box {
  display: flex;
  align-items: center;
}
.header-container .right-container .login-btn-box .login-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 33px;
  text-decoration: none;
  margin-right: 27px;
}
.header-container .right-container .login-btn-box .login-btn img {
  margin-right: 3px;
}
.header-container .right-container .right-login-box {
  display: flex;
  align-items: center;
}
.header-container .right-container .right-login-box .user-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.header-container .right-container .right-login-box .back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 32px;
  background: #FCFCFC;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  margin-left: 20px;
}
.banner-container {
  height: 340px;
  padding: 11px 158px 3px 116px;
  box-sizing: border-box;
  background: linear-gradient(0deg, #03043D, #10249C);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}
.banner-container .left-banner .banner-title {
  font-size: 48px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #fff;
  line-height: 60px;
  margin-bottom: 20px;
}
.banner-container .left-banner .english-title {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #B4B5B9;
  line-height: 20px;
}
.banner-container .left-banner .english-sub-title {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #B4B5B9;
  line-height: 20px;
  margin-bottom: 15px;
}
.banner-container .left-banner .english-sub-title span {
  font-size: 16px;
}
.banner-container .left-banner .join-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
}
.currency-container {
  height: 222px;
  background-color: #F9F9FD;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}
.currency-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currency-container li .currency-icon {
  width: 60px;
  height: 60px;
}

.currency-container li .price {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #222222;
  margin-top: 20px;
}
.currency-event-container .currency-event-content {
  width: 100%;
  margin-top: 70px;
}
.currency-event-container .currency-event-content .currency-event-item {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px 0px rgba(63, 137, 246, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 16px;
  margin-bottom: 30px;
}
.currency-event-container .currency-event-content .currency-event-item .left-currency-box {
  display: flex;
  align-items: center;
}
.currency-event-container .currency-event-content .currency-event-item .left-currency-box .user-logo {
  width: 50px;
  height: 50px;
}
.currency-event-container .currency-event-content .currency-event-item .left-currency-box .user-logo img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.currency-event-container .currency-event-content .currency-event-item .left-currency-box .user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 16px;
  height: 50px;
}
.currency-event-container .currency-event-content .currency-event-item .left-currency-box .user-info .user-name {
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 18px;
}
.currency-event-container .currency-event-content .currency-event-item .left-currency-box .user-info .user-desc {
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #B4B5B8;
  line-height: 12px;
}
.currency-event-container .currency-event-content .currency-event-item .right-currency-box .see-detail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #3F89F6;
  border-radius: 19px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #3F89F6;
  line-height: 33px;
}
.currency-event-container .currency-event-content .currency-event-item .right-currency-box .new-icon {
  position: absolute;
  top: -14px;
  right: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 29px;
  background: #FDD5B2;
  border-radius: 5px;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #E86C01;
  line-height: 33px;
}
.recovery-scheme-container {
  margin-top: 50px;
}
.recovery-scheme-container .recovery-scheme-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.recovery-scheme-container .recovery-scheme-content li {
  box-sizing: border-box;
  width: 285px;
  height: 293px;
  padding: 0 35px 40px;
  background: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.recovery-scheme-container .recovery-scheme-content li:hover {
  box-shadow: 0px 5px 20px 0px rgba(63, 137, 246, 0.1);
  border-radius: 10px;
}
.recovery-scheme-container .recovery-scheme-content li .blue-line {
  width: 42px;
  height: 4px;
  background: #3F89F6;
}
.recovery-scheme-container .recovery-scheme-content li .recovery-scheme-title {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #101010;
  line-height: 30px;
  text-align: justify;
  width: 100%;
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
margin-top: 50px;
}
.recovery-scheme-container .recovery-scheme-content li .recovery-scheme-desc {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 25px;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.small-tool-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.small-tool-container .small-tool-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.small-tool-container .small-tool-content li {
  width: 245px;
  height: 280px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 35px 30px;
}
.small-tool-container .small-tool-content li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.small-tool-container .small-tool-content li:hover {
  box-shadow: 0px 5px 20px 0px rgba(63, 137, 246, 0.1);
}
.small-tool-container .small-tool-content li img {
  width: 90px;
  height: 90px;
  border-radius: 30px;
}
.small-tool-container .small-tool-content li .app-name {
  margin: 0;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #333333;
  line-height: 27px;
  margin-top: 26px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.small-tool-container .small-tool-content li .app-desc {
  margin: 0;
  margin-top: 22px;
  font-size: 12px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #B4B5B8;
  line-height: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
