.header-container {
  height: 70px;
}
.header-container .left-container .logo {
  display: flex;
  width: 106px;
  height: 43px;
}
.header-container .left-container .nav-box {
  width: 400px;
  margin-left: 110px;
}
.header-container .left-container .nav-box li {
  display: flex;
  flex-direction: column;
}
.header-container .left-container .nav-box li.active .active-line {
  opacity: 1;
}
.header-container .left-container .nav-box li a {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 33px;
  text-decoration: none;
}
.header-container .left-container .nav-box li .active-line {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #3F89F6;
  border-radius: 2px;
  opacity: 0;
}
.header-container .right-container .login-btn-box {
  display: flex;
  align-items: center;
}
.header-container .right-container .login-btn-box .login-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 33px;
  text-decoration: none;
  margin-right: 27px;
}
.header-container .right-container .login-btn-box .login-btn img {
  margin-right: 3px;
}
.header-container .right-container .right-login-box {
  display: flex;
  align-items: center;
}
.header-container .right-container .right-login-box .user-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.header-container .right-container .right-login-box .back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 32px;
  background: #FCFCFC;
  border: 1px solid #EEEEEE;
  border-radius: 16px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  margin-left: 20px;
}
.footer-container {
  width: 100%;
  height: 80px;
  background-color: #3F89F6;
}
.footer-container p {
  font-size: 16px;
  font-family: SourceHanSansSC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 80px;
  text-align: center;
}
.banner-container {
  position: relative;
  margin-top: 20px;
  height: 340px;
  background: linear-gradient(0deg, #03043d, #10249c);
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
}
.banner-container .banner-title {
  position: absolute;
  top: 142px;
  left: 170px;
  font-size: 36px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 58px;
}
.recovery-scheme-container {
  margin-top: 34px;
}
.recovery-scheme-container .recovery-scheme-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}
.recovery-scheme-container .recovery-scheme-content li {
  box-sizing: border-box;
  width: 285px;
  height: 293px;
  padding: 0 35px 40px;
  background: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 64px;
  margin-right: 70px;
}
.recovery-scheme-container .recovery-scheme-content li:nth-child(3n+3) {
  margin-right: 0;
}
.recovery-scheme-container .recovery-scheme-content li:hover {
  box-shadow: 0px 5px 20px 0px rgba(63, 137, 246, 0.1);
  border-radius: 10px;
}
.recovery-scheme-container .recovery-scheme-content li .blue-line {
  width: 42px;
  height: 4px;
  background: #3F89F6;
}
.recovery-scheme-container .recovery-scheme-content li .recovery-scheme-title {
  font-size: 24px;
  font-family: PingFang SC;
  font-weight: bold;
  color: #101010;
  line-height: 24px;
}
.recovery-scheme-container .recovery-scheme-content li .recovery-scheme-desc {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 25px;
  text-align: justify;
}
