{% load staticfiles cf_tags%}
<div class="footer-container">
  <div class="footer-top-container">
    <div class="container">
      <div class="row">
        <ul class="col-6 col-sm-3">
          <li class="title">关于我们</li>
          <li><a href="#" target="_blank">服务热线</a></li>
          <li><a href="#" target="_blank">集团简介</a></li>
          <li><a href="#" target="_blank">技术团队</a></li>
          <li><a href="#" target="_blank">发展流程</a></li>
          <li><a href="#" target="_blank">加入我们</a></li>
        </ul>
        <ul class="col-6 col-sm-3">
          <li class="title">合作流程</li>
          <li><a href="#" target="_blank">确定需求</a></li>
          <li><a href="#" target="_blank">项目设计</a></li>
          <li><a href="#" target="_blank">项目开发</a></li>
          <li><a href="#" target="_blank">项目测试</a></li>
          <li><a href="#" target="_blank">项目上线</a></li>
          <li><a href="#" target="_blank">项目维护</a></li>
        </ul>
        <ul class="col-6 col-sm-3">
          <li class="title">集团子公司</li>
          <li><a href="http://www.zhifish.cn/" target="_blank">知鱼定制</a></li>
          <li><a href="http://fe.gingernet.vip/" target="_blank">知鱼财经</a></li>
          <li><a href="http://www.wenwoha.com/" target="_blank">问我学院</a></li>
          <li><a href="http://shiji.gingernet.vip/" target="_blank">市集</a></li>
          <li><a href="#" target="_blank">CoinCore</a></li>
          <li><a href="http://anglelove.vip/" target="_blank">天使社交</a></li>
        </ul>
        <div class="col-6 col-sm-3 weixin-container">
          <img class="weixin" src="https://iph.href.lu/120x120?fg=666666&bg=cccccc" alt="关注我们">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-container">
    <div class="container">
      <div class="row flex-column">
        <p>© 2018-2020 天津椭圆曲线科技有限公司(原天津木姜子科技有限公司) | 北京椭圆曲线科技有限公司 | <a href="https://beian.miit.gov.cn" target="_blank">津ICP备20001736号-2</a> | All Rights Reserved </p>
        <p>友情链接： <a href="http://www.zhifish.cn/" target="_blank">知鱼定制</a> | <a href="http://www.wenwoha.com/" target="_blank">问我学院</a> | <a href="http://shiji.gingernet.vip/" target="_blank">市集商城</a> | <a href="http://www.chaineye.info/" target="_blank">链眼社区</a></p>
      </div>
    </div>
  </div>
  </div>
