{% load staticfiles cf_tags%}
<div class="contact-us-container w1200" style="margin-top:120px">
    <div class="contact-us-content">
      <div class="left-contact-box">
        <div class="contact-us-title">
          <p class="title">联系我们</p>
          <p class="sub-title">遇到相关技术问题？请在线提交你所需的服务请求，最短2分钟内将有工程师联系帮助您解决处理。</p>
        </div>
      </div>
      <ul class="right-contact-box">
        <li>
          <img src="https://iph.href.lu/120x120?fg=666666&bg=cccccc" alt="">
          <p>联系微信</p>
        </li>
        <li>
          <img src="https://iph.href.lu/120x120?fg=666666&bg=cccccc" alt="">
          <p>关注公众号</p>
        </li>
        <li>
          <img src="https://iph.href.lu/120x120?fg=666666&bg=cccccc" alt="">
          <p>手机浏览</p>
        </li>
      </ul>
    </div>
</div>