{% load staticfiles cf_tags%}
<div class="contact-us-container w1200">
    <div class="contact-us-title">
      <p class="title">联系我们</p>
      <p class="sub-title">遇到相关技术问题？请在线提交你所需的服务请求，最短2分钟内将有工程师联系帮助您解决处理。</p>
    </div>
    <div class="contact-us-content">
      <div class="left-contact-box">
        <form action="#">
          <input type="text" class="contact-input" placeholder="客户名称">
          <input type="text" class="contact-input" placeholder="联系方式">
          <textarea class="contact-textarea" row="3" placeholder="请描述你遇到的问题"></textarea>
          <div class="send-btn">发送</div>
        </form>
      </div>
      <div class="right-contact-box">
        <img src="https://iph.href.lu/535x315?fg=666666&bg=cccccc" alt="">
      </div>
    </div>
  </div>