{% load staticfiles cf_tags%}
<div class="header-container flex-between alcenter w1200">
    <div class="left-container flex">
      <img src="{% static 'web/images/logo.png' %}" alt="" class="logo">
      <ul class="flex alcenter nav-box justify-between">
        {% if nav_bar == "index" %}
            <li class="active"><a href="{% url 'index' %}">首页</a><span class="active-line"></span></li>
        {% else %}
            <li><a href="{% url 'index' %}">首页</a><span class="active-line"></span></li>
        {% endif %}
        {% if nav_bar == "event" %}
            <li class="active"><a href="{% url 'event' %}">事件</a><span class="active-line"></span></li>
       {% else %}
            <li><a href="{% url 'event' %}">事件</a><span class="active-line"></span></li>
        {% endif %}
        {% if nav_bar == "blog" %}
            <li class="active"><a href="{% url 'blogs' %}">找回方案</a><span class="active-line"></span></li>
         {% else %}
            <li><a href="{% url 'blogs' %}">找回方案</a><span class="active-line"></span></li>
        {% endif %}
        {% if nav_bar == "tools" %}
            <li class="active"><a href="{% url  'tools' %}">小工具</a><span class="active-line"></span></li>
        {% else %}
            <li><a href="{% url  'tools' %}">小工具</a><span class="active-line"></span></li>
        {% endif %}
      </ul>
    </div>
    <div class="right-container">
      {% if request.session.is_login == True %}
          <div class="login-btn-box flex">
            <a href="{% url 'logout' %}" class="login-btn">注销</a>
            <a href="{% url 'my_event' %}" class="el-button mini">个人中心</a>
          </div>
      {% else %}
           <div class="login-btn-box flex">
            <a href="{% url 'login' %}" class="login-btn">
              <img src="{% static 'web/images/suo.png' %}" alt="">
              登录
            </a>
            <a href="{% url 'register' %}" class="el-button mini">注册</a>
          </div>
      {% endif %}
    </div>
  </div>