{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/blogDetail.css' %}">
{% endblock %}
{% block content %}
{% block forms_style %}
    {{ event_form.media }}
{% endblock %}
{% include 'web/layout/header.html' %}
<div class="content-box">
    <div class="w1200">
      <p class="breadcrumb-navigation">
        <a href="{% url 'index' %}">首页</a> > <a href="{% url 'blogs' %}">博客</a> > <a>详情</a>
      </p>
      <div class="article-detail-box">
        <p class="title">{{ blog_dtl.title }}</p>
        <p class="time">{{ blog_dtl.created_at }}</p>
        <div class="content">
            <p>
                {{ blog_dtl.body | safe }}
            </p>
        </div>
      </div>
    </div>
  </div>
{% include 'web/layout/bottom.html' %}
{% endblock %}