{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
<link rel="stylesheet" href="{% static 'web/css/recovery.css' %}">
{% endblock %}
{% block content %}
{% include 'web/layout/header.html' %}
<div class="banner-container w1200">
    <img src="{% static 'web/images/banner_fangfa.png' %}" alt="banner_fangfa">
    <p class="banner-title">全球领先的数字资产<br />安全追踪平台</p>
  </div>
<div class="recovery-scheme-container w1200">
  <div class="left-tab-container">
    <ul>
      <li class="active">
        <a href="#">个人中心</a>
      </li>
      <li>
        <a href="#">个人中心</a>
      </li>
      <li>
        <a href="#">个人中心</a>
      </li>
    </ul>
  </div>
  <div class="right-tab-container">
    <div class="right-item-box">
      <ul class="tab-ul-box">
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="nav-box">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <p class="total">共30页</p>
        <div class="go-box">到<input type="text">页</div>
      </div>
    </div>
    <div class="right-item-box">
      <ul class="tab-ul-box">
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="nav-box">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <p class="total">共30页</p>
        <div class="go-box">到<input type="text">页</div>
      </div>
    </div>
    <div class="right-item-box">
      <ul class="tab-ul-box">
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="article-left-box">
              <img src="https://iph.href.lu/230x159?fg=666666&bg=cccccc" alt="">
            </div>
            <div class="article-right-box">
              <p class="title">清华云论坛：数据要素新基建成热点 产业化联盟助力数据市场</p>
              <p class="desc">随着5G、区块链、人工智能等新一代信息技术的发展，数据伴随数字经济的蓬勃发展，成为重要的战略资源。2020年4月9日发布的《中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。中共中央国务院关于构建更加完善的要素市场化配置的体制机制的意见》中，“数据”更是被作为五大生产要素之一写入文件。</p>
              <div class="bottom-box">
                <p><span>知鱼财经</span><span>02月23日</span><span>11:24</span></p>
                <p><img src="{% static 'web/images/kan.png' %}" alt="">2038</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="nav-box">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
        <p class="total">共30页</p>
        <div class="go-box">到<input type="text">页</div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.recovery-scheme-container').slide({ titCell: '.left-tab-container ul li', mainCell: '.right-tab-container', titOnClassName: 'active', trigger: 'click' })
</script>
{% endblock %}