{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
<link rel="stylesheet" href="{% static 'web/css/recovery.css' %}">
{% endblock %}
{% block content %}
{% include 'web/layout/header.html' %}
<div class="banner-container w1200">
    <img src="{% static 'web/images/banner_fangfa.png' %}" alt="banner_fangfa">
    <p class="banner-title">全球领先的数字资产<br />安全追踪平台</p>
  </div>
<div class="recovery-scheme-container w1200">
  <div class="left-tab-container">
    <ul>
       {% if cat_id == 0 %}
            <li class="active"><a href="{% url 'blogs' %}">全部</a></li>
        {% else %}
            <li><a href="{% url 'blogs' %}">全部</a></li>
        {% endif %}
        {% for cat in blog_cat_list %}
            {% if cat.id == cat_id %}
                <li class="active"><a href="{% url 'blogs' %}?cat_id={{ cat.id }}">{{ cat.name }}</a></li>
            {% else %}
                <li><a href="{% url 'blogs' %}?cat_id={{ cat.id }}">{{ cat.name }}</a></li>
            {% endif %}
       {% endfor %}
    </ul>
  </div>
  <div class="right-tab-container">
    <div class="right-item-box">
      <ul class="tab-ul-box">
        {% for blog in blog_list %}
            <li>
              <a href="{% url 'blog_detail'  blog.id %}">
                <div class="article-left-box">
                  <img src="{% url 'index' %}media/{{ blog.img }}" alt="">
                </div>
                <div class="article-right-box">
                  <p class="title">{{ blog.title }}</p>
                  <p class="desc">{{ blog.excerpt }}</p>
                  <div class="bottom-box">
                    <p><span>{{ blog.user }}</span><span>{{ blog.created_at | hdatetime }}</span></p>
                    <p><img src="{% static 'web/images/kan.png' %}" alt="">{{ blog.views }}</p>
                  </div>
                </div>
              </a>
            </li>
        {% endfor %}
      </ul>
      <div class="nav-box">
        {% include 'web/layout/pagination.html' with items=blog_list %}
      </div>
    </div>
  </div>
</div>
 {% include 'web/layout/bottom.html' %}
{% endblock %}