{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/tool.css' %}">
{% endblock %}
{% block content %}
 {% include 'web/layout/header.html' %}
  <div class="banner-container w1200 flex-between alcenter">
    <div class="left-banner">
      <p class="banner-title">币家<br />帮丢失的币回家</p>
      <p class="english-title">COINFAMILY</p>
      <p class="english-sub-title"><span>H</span>ELP BRING HOME LOSTMONEY</p>
      <a href="#" class="el-button primary join-btn" target="_blank">马上参与</a>
    </div>
    <div class="right-banner">
      <img src="{% static 'web/images/banner_xiaogongju.png' %}" alt="banner">
    </div>
  </div>
  <!-- 小工具 small-tool -->
  <div class="small-tool-container w1000">
    <ul class="small-tool-content">
      <li>
        <a href="{% url 'tools_detail' 1 %}" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="./toolDetail.html" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="./toolDetail.html" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="./toolDetail.html" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="./toolDetail.html" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="./toolDetail.html" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
    </ul>
  </div>
  <!-- 联系我们 contact-us -->
  <div class="contact-us-container w1200">
    <div class="contact-us-title">
      <p class="title">联系我们</p>
      <p class="sub-title">遇到相关技术问题？请在线提交你所需的服务请求，最短2分钟内将有工程师联系帮助您解决处理。</p>
    </div>
    <div class="contact-us-content">
      <div class="left-contact-box">
        <form action="#">
          <input type="text" class="contact-input" placeholder="客户名称">
          <input type="text" class="contact-input" placeholder="联系方式">
          <textarea class="contact-textarea" row="3" placeholder="请描述你遇到的问题"></textarea>
          <div class="send-btn">发送</div>
        </form>
      </div>
      <div class="right-contact-box">
        <img src="https://iph.href.lu/535x315?fg=666666&bg=cccccc" alt="">
      </div>
    </div>

  </div>
{% endblock %}

