{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/toolDetail.css' %}">
{% endblock %}
{% block content %}
 {% include 'web/layout/header.html' %}
 <div class="content-box">
    <div class="w1200">
      <p class="breadcrumb-navigation">
        <a href="{% url 'tools' %}">小工具</a> > <a>工具详情</a>
      </p>
      <div class="tool-detail-container">
        <div class="top-detail-box">
          <div class="left-name-box">
            <div class="name-img-box">
              <div class="img-box">
                <img src="{% url 'index' %}media/{{ tool_detail.img }}" alt="">
              </div>
              <div class="name-box">
                <p class="name">{{ tool_detail.name }}</p>
                <p class="title">{{ tool_detail.excerpt }}</p>
              </div>
            </div>
            <div class="tool-desc-box">
              <p class="desc-title">使用指南</p>
              <p class="desc-content">
                  {{ tool_detail.body | safe }}
              </p>
            </div>
          </div>
          <div class="right-code-box">
            <a href="{{ tool_detail.github }}" class="code-item">
              <img width="140px" height="140px" src="{% static 'web/images/github.png' %}" alt="">
              <p>github</p>
            </a>
            <a href="{{ tool_detail.gitee }}" class="code-item">
              <img width="140px" height="140px" src="{% static 'web/images/gitee.jpeg' %}" alt="">
              <p>gitee</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
 {% include 'web/layout/bottom.html' %}
{% endblock %}