{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
{% endblock %}
{% block content %}
  <div class="body-container flex-center">
    <div class="login-box">
      <a href="{% url 'index' %}"><img src="{% static 'web/images/logo.png' %}" alt="logo"></a>
      <div class="login-info-box flex-column alcenter" style="height: 323px;">
        <p class="title">忘记密码</p>
        <form action="{% url 'forget' %}" class="el-form" method="post">
          <div class="el-input">
            <div class="el-label-box">
              <img class="el-icon" src="{% static 'web/images/yonghu-2.png' %}" alt="yonghu" />
            </div>
             {{ forget_form.phone }}
             {% if forget_form.phone.errors %}
                <div style="color:red; margin-left:8px; margin-top:5px">
                   {{ forget_form.phone.errors }}
                </div>
            {% endif %}
          </div>
          <div class="el-input">
            <div class="el-label-box">
              <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
            </div>
             {{ forget_form.v_code }}
              {% if forget_form.v_code.errors %}
                <div style="color:red; margin-left:8px; margin-top:5px">
                   {{ forget_form.v_code.errors }}
                </div>
            {% endif %}
            <div class="el-input-right">
              <div onclick="GetCodeRister(this)" class="el-button mini" id="sendCodeBtn">发送</div>
              <p id="countTime" class="count-time" style="display: none;">60s后重新发送</p>
            </div>
          </div>
          <div class="el-input">
            <div class="el-label-box">
              <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
            </div>
            {{ forget_form.password }}
              {% if forget_form.password.errors %}
                <div style="color:red; margin-left:8px; margin-top:5px">
                   {{ forget_form.password.errors }}
                </div>
            {% endif %}
            <div class="el-input-right">
              <img id="yanjing" class="el-icon" src="{% static 'web/images/yanjing.png' %}" alt="yanjing" />
              <img id="biyan" style="display: none;" class="el-icon" src="{% static 'web/images/biyan.png' %}" alt="yanjing" />
            </div>
          </div>
          <div class="btn-box flex-between">
            <a href="{% url 'login' %}">去登录</a>
          </div>
          <button type="submit" class="el-button block">修改</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}