{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
{% endblock %}
{% block content %}
  <div class="body-container flex-center">
    <div class="login-box">
      <a href="{% url 'index' %}"><img src="{% static 'web/images/logo.png' %}" alt="logo"></a>
      <div class="login-info-box flex-column alcenter">
        <p class="title">登录</p>
        <p class="sub-title">欢迎来到币家</p>
        <form action="#" class="el-form">
          <div class="el-input">
            <div class="el-label-box">
              <img class="el-icon" src="{% static 'web/images/yonghu-2.png' %}" alt="yonghu" />
            </div>
            <input type="text" class="el-input__inner" placeholder="手机号" maxlength="11">
          </div>
          {% if login_way == "password" %}
              <div class="el-input">
                <div class="el-label-box">
                  <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
                </div>
                <input type="password" class="el-input__inner" placeholder="密码">
                <div class="el-input-right">
                  <img class="el-icon" src="{% static 'web/images/yanjing.png' %}" alt="yanjing" />
                </div>
              </div>
          {% endif %}
          {% if login_way == "verify" %}
              <div class="el-input">
                <div class="el-label-box">
                  <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
                </div>
                <input type="text" class="el-input__inner" placeholder="验证码" maxlength="6">
                <div class="el-input-right">
                  <div class="el-button mini">发送</div>
                </div>
              </div>
          {% endif %}
          <div class="btn-box flex-between">
            {% if login_way == "password" %}
                <a href="{% url 'login' %}?login_way=verify">验证码登录</a>
            {% endif %}
             {% if login_way == "verify" %}
                <a href="{% url 'login' %}?login_way=password">密码登陆</a>
            {% endif %}
            <a href="{% url 'forget' %}">忘记密码？</a>
          </div>
          <div class="el-button block">登录</div>
        </form>
        <p class="register-box">你还没有账号？<a href="{% url 'register' %}">注册</a></p>
      </div>
    </div>
  </div>
{% endblock %}