{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/login.css' %}">
{% endblock %}
{% block content %}
  <div class="body-container flex-center">
    <div class="login-box">
      <a href="{% url 'index' %}"><img src="{% static 'web/images/logo.png' %}" alt="logo"></a>
      <div class="login-info-box flex-column alcenter">
        <p class="title">登录</p>
        <p class="sub-title">欢迎来到币家</p>
        <form action="{% url 'login' %}" class="el-form" method="post">
          <div class="el-input">
            <div class="el-label-box">
              <img class="el-icon" src="{% static 'web/images/yonghu-2.png' %}" alt="yonghu" />
            </div>
            {{ login_form.phone }}
            {% if login_form.phone.errors %}
                <div style="color:red; margin-left:8px; margin-top:5px">
                   {{ login_form.phone.errors }}
                </div>
            {% endif %}
          </div>
          {% if login_way == "password" %}
              <div class="el-input">
                <div class="el-label-box">
                  <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
                </div>
                {{ login_form.password }}
                {% if login_form.password.errors %}
                    <div style="color:red; margin-left:8px; margin-top:5px">
                       {{ login_form.password.errors }}
                    </div>
                {% endif %}
                <div class="el-input-right">
                  <img id="yanjing" class="el-icon" src="{% static 'web/images/yanjing.png' %}" alt="yanjing" />
                  <img id="biyan" style="display: none;" class="el-icon" src="{% static 'web/images/biyan.png' %}" alt="yanjing" />
                </div>
              </div>
          {% endif %}
          {% if login_way == "verify" %}
              <div class="el-input">
                <div class="el-label-box">
                  <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
                </div>
                {{ login_form.v_code }}
                {% if login_form.v_code.errors %}
                    <div style="color:red; margin-left:8px; margin-top:5px">
                       {{ login_form.v_code.errors }}
                    </div>
                {% endif %}
                <div class="el-input-right">
                  <div onclick="GetCodeRister(this)" class="el-button mini" id="sendCodeBtn">发送</div>
                  <p id="countTime" class="count-time" style="display: none;">60s后重新发送</p>
                </div>
              </div>
          {% endif %}
          <div class="btn-box flex-between">
            {% if login_way == "password" %}
                <a href="{% url 'login' %}?login_way=verify">验证码登录</a>
            {% endif %}
             {% if login_way == "verify" %}
                <a href="{% url 'login' %}?login_way=password">密码登陆</a>
            {% endif %}
            <a href="{% url 'forget' %}">忘记密码？</a>
          </div>
          <button type="submit" class="el-button block">登录</button>
        </form>
        <p class="register-box">你还没有账号？<a href="{% url 'register' %}">注册</a></p>
      </div>
    </div>
  </div>
  <div id="alertSuccess" class="alert alert-success" role="alert" style="position: fixed;top: 10vh;width: 200px;left: 50%;margin-left: -100px;text-align: center;display: none;">
    验证码发送成功
  </div>
  <div id="alertError" class="alert alert-danger" role="alert" style="position: fixed;top: 10vh;width: 400px;left: 50%;margin-left: -200px;text-align: center;display: none">
    获取验证码失败，请检查手机号之后重新获取
  </div>
  <script>

  </script>
{% endblock %}