{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/my.css' %}">
{% endblock %}
{% block content %}
{% include 'web/layout/header.html' %}
 <div class="content-box">
    <div class="w1200">
      <p class="breadcrumb-navigation">
        <a href="{% url 'index' %}">首页</a> > <a>个人中心</a>
      </p>
      <div class="my-info-container">
        <div class="left-info-box">
          <div class="top-box">
            <div class="account-info">
              <img src="{% url 'index' %}media/{{ user.photo }}" alt="">
              <p class="user-name">{{ user.phone }}</p>
            </div>
            <ul>
              <a href="{% url 'my_event' %}">
                 {% if side_bar == 'my_event' %}
                    <li class="active">我的事件</li>
                 {% else %}
                    <li>我的事件</li>
                 {% endif %}
              </a>
              <a href="{% url 'update_password' %}">
                 {% if side_bar == 'update_password' %}
                    <li class="active">修改密码</li>
                 {% else %}
                    <li>修改密码</li>
                {% endif %}
              </a>
              <a href="{% url 'update_uinfo' %}">
                {% if side_bar == 'update_uinfo' %}
                    <li class="active">个人信息</li>
                 {% else %}
                    <li>个人信息</li>
                {% endif %}
              </a>
            </ul>
          </div>
          <div class="bottom-box">
            <img src="{% url 'index' %}media/{{ user.photo }}" alt="">
            <a href="{% url 'logout' %}">退出</a>
          </div>
        </div>
        <div class="right-info-box">
          <div class="modify-box">
            <p class="title">修改密码(密码修改成功之后需要重新登陆)</p>
            <div class="modify-content">
              <form action="{% url 'update_password' %}" class="el-form" method="post">
                <div class="el-input">
                  <div class="el-label-box">
                    <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
                  </div>
                  {{ update_pwd_form.old_passwrod }}
                  {% if update_pwd_form.old_passwrod.errors %}
                    <div style="color:red; margin-left:8px; margin-top:5px">
                       {{ update_pwd_form.old_passwrod.errors }}
                    </div>
                  {% endif %}
                  <div class="el-input-right">
                    <img class="el-icon" src="{% static 'web/images/yanjing.png' %}" alt="yanjing" />
                  </div>
                </div>
                <div class="el-input">
                  <div class="el-label-box">
                    <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
                  </div>
                  {{ update_pwd_form.password }}
                  {% if update_pwd_form.password.errors %}
                    <div style="color:red; margin-left:8px; margin-top:5px">
                       {{ update_pwd_form.password.errors }}
                    </div>
                  {% endif %}
                  <div class="el-input-right">
                    <img class="el-icon" src="{% static 'web/images/yanjing.png' %}" alt="yanjing" />
                  </div>
                </div>
                <div class="el-input">
                  <div class="el-label-box">
                    <img class="el-icon" src="{% static 'web/images/mima.png' %}" alt="yonghu" />
                  </div>
                  {{ update_pwd_form.c_password }}
                  {% if update_pwd_form.c_password.errors %}
                    <div style="color:red; margin-left:8px; margin-top:5px">
                       {{ update_pwd_form.c_password.errors }}
                    </div>
                  {% endif %}
                  <div class="el-input-right">
                    <img class="el-icon" src="{% static 'web/images/yanjing.png' %}" alt="yanjing" />
                  </div>
                </div>
                <button type="submit" class="el-button block">修改</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}