{% load staticfiles cf_tags%}
 <div class="reply-list">
  <ul>
    {% for event_c in event_comment.reply %}
        <li>
          <div class="left-header-img">
              {% if event_c.user.user_pho %}
                <img src="{% url 'enter_website' %}media/{{ event_c.user.user_pho }}" alt="">
              {% else %}
                <img src="{% static 'images/touxiang_d.png' %}" alt="">
              {% endif %}
          </div>
          <div class="right-reply-info-box">
            <p><span class="name">{{ event_c.user.user_name }}<span class="time">{{ event_c.created_at | hdatetime }}</span></span></p>
            <p class="reply-text">{{ event_c.content }}</p>
          </div>
        </li>
   {% endfor %}
  </ul>
</div>

