{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
<link rel="stylesheet" href="{% static 'web/css/recovery.css' %}">
{% endblock %}
{% block content %}
<div class="banner-container w1200">
    <img src="{% static 'web/images/banner_xiaogongju.png' %}" alt="banner_fangfa">
    <p class="banner-title">全球领先的数字资产<br />安全追踪平台</p>
  </div>
<div class="recovery-scheme-container w1000">
    <ul class="recovery-scheme-content">
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
    </ul>
  </div>
{% endblock %}