{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/index.css' %}">
{% endblock %}
{% block content %}
<div class="banner-container w1200 flex-between alcenter">
    <div class="left-banner">
      <p class="banner-title">币家<br />帮丢失的币回家</p>
      <p class="english-title">COINFAMILY</p>
      <p class="english-sub-title"><span>H</span>ELP BRING HOME LOSTMONEY</p>
      <a href="#" class="el-button primary join-btn" target="_blank">马上参与</a>
    </div>
    <div class="right-banner">
      <img src="{% static 'web/images/banner.png' %}" alt="banner">
    </div>
  </div>
<ul class="currency-container w1200">
    <li>
      <img class="currency-icon" src="{% static 'web/images/ETH.png' %}" alt="btc">
      <div class="name-box">
        <p class="currency-name">BTC/USDT</p>
        <p class="currency-rate red">- 0.07%</p>
      </div>
      <div class="price">36.641.20</div>
      <div class="dollar-price">≈$309210.00</div>
    </li>
    <li>
      <img class="currency-icon" src="{% static 'web/images/EOS.png' %}" alt="btc">
      <div class="name-box">
        <p class="currency-name">BTC/USDT</p>
        <p class="currency-rate">- 0.07%</p>
      </div>
      <div class="price">36.641.20</div>
      <div class="dollar-price">≈$309210.00</div>
    </li>
    <li>
      <img class="currency-icon" src="{% static 'web/images/BTC.png' %}" alt="btc">
      <div class="name-box">
        <p class="currency-name">BTC/USDT</p>
        <p class="currency-rate">- 0.07%</p>
      </div>
      <div class="price">36.641.20</div>
      <div class="dollar-price">≈$309210.00</div>
    </li>
    <li>
      <img class="currency-icon" src="{% static 'web/images/usdt.png' %}" alt="btc">
      <div class="name-box">
        <p class="currency-name">BTC/USDT</p>
        <p class="currency-rate red">- 0.07%</p>
      </div>
      <div class="price">36.641.20</div>
      <div class="dollar-price">≈$309210.00</div>
    </li>
  </ul>
<div class="currency-event-container w1000">
    <div class="module-title">
      <p class="title">丢币事件</p>
      <p class="sub-title"><span>L</span>ost coin event</p>
    </div>
    <div class="currency-event-content">
      <div class="currency-event-item">
        <div class="left-currency-box">
          <img src="{% static 'web/images/touxiang_d.png' %}" alt="touxiang_d" class="user-logo">
          <div class="user-info">
            <p class="user-name">用户名</p>
            <p class="user-desc">事件内容事件内容事件内容事件内容事件内容事件内容</p>
          </div>
        </div>
        <div class="right-currency-box">
          <a class="see-detail-btn" href="#" target="_blank">查看详情</a>
          <div class="new-icon">NEW</div>
        </div>
      </div>
      <div class="currency-event-item">
        <div class="left-currency-box">
          <img src="{% static 'web/images/touxiang_d.png' %}" alt="touxiang_d" class="user-logo">
          <div class="user-info">
            <p class="user-name">用户名</p>
            <p class="user-desc">事件内容事件内容事件内容事件内容事件内容事件内容</p>
          </div>
        </div>
        <div class="right-currency-box">
          <a class="see-detail-btn" href="#" target="_blank">查看详情</a>
        </div>
      </div>
      <div class="currency-event-item">
        <div class="left-currency-box">
          <img src="{% static 'web/images/touxiang_d.png' %}" alt="touxiang_d" class="user-logo">
          <div class="user-info">
            <p class="user-name">用户名</p>
            <p class="user-desc">事件内容事件内容事件内容事件内容事件内容事件内容</p>
          </div>
        </div>
        <div class="right-currency-box">
          <a class="see-detail-btn" href="#" target="_blank">查看详情</a>
        </div>
      </div>
      <div class="currency-event-item">
        <div class="left-currency-box">
          <img src="{% static 'web/images/touxiang_d.png' %}" alt="touxiang_d" class="user-logo">
          <div class="user-info">
            <p class="user-name">用户名</p>
            <p class="user-desc">事件内容事件内容事件内容事件内容事件内容事件内容</p>
          </div>
        </div>
        <div class="right-currency-box">
          <a class="see-detail-btn" href="#" target="_blank">查看详情</a>
        </div>
      </div>
    </div>
    <a href="#" class="see-more" target="_blank">查看更多>></a>
  </div>
<div class="recovery-scheme-container w1000">
    <div class="module-title">
      <p class="title">找回方案</p>
      <p class="sub-title"><span>R</span>etrieving method</p>
    </div>
    <ul class="recovery-scheme-content">
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
      <li>
        <span class="blue-line"></span>
        <p class="recovery-scheme-title">方法标题</p>
        <p class="recovery-scheme-desc">全方位风险管理，三重财务对账，资金安全实时监控，严重报警主动干预。资产流转智能监控异常报警，提现阻断，DDos防御、流量清洗等30+项防御机制</p>
      </li>
    </ul>
    <a href="#" class="see-more" target="_blank">查看更多>></a>
  </div>
<div class="small-tool-container w1000">
    <div class="module-title">
      <p class="title">小工具</p>
      <p class="sub-title"><span>S</span>mall tools</p>
    </div>
    <ul class="small-tool-content">
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          <img src="https://iph.href.lu/90x90?fg=666666&bg=cccccc" alt="">
          <p class="app-name">APP名称</p>
          <p class="app-desc">app简介app简介app简介</p>
        </a>
      </li>
    </ul>
  </div>
<div class="contact-us-container w1200">
    <div class="contact-us-title">
      <p class="title">联系我们</p>
      <p class="sub-title">遇到相关技术问题？请在线提交你所需的服务请求，最短2分钟内将有工程师联系帮助您解决处理。</p>
    </div>
    <div class="contact-us-content">
      <div class="left-contact-box">
        <form action="#">
          <input type="text" class="contact-input" placeholder="客户名称">
          <input type="text" class="contact-input" placeholder="联系方式">
          <textarea class="contact-textarea" row="3" placeholder="请描述你遇到的问题"></textarea>
          <div class="send-btn">发送</div>
        </form>
      </div>
      <div class="right-contact-box">
        <img src="https://iph.href.lu/535x315?fg=666666&bg=cccccc" alt="">
      </div>
    </div>
  </div>
{% endblock %}