{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/eventDetail.css' %}">
{% endblock %}
{% block content %}
{% include 'web/layout/header.html' %}
<div class="content-box">
    <div class="w1200">
      <p class="breadcrumb-navigation">
        <a href="{% url 'index' %}">首页</a> > <a href="{% url 'event' %}">事件</a> > <a class="blue">事件详情</a>
      </p>
      <div class="event-detail-container">
        <div class="article-box">
          <div class="left-article-box">
            <p class="title">{{ event.title }}<span>{{ event.event_cat.name }}</span></p>
            <p class="time">{{ event.created_at | hdatetime }}</p>
            <div class="info-box">
              <img src="{% url 'index' %}media/{{ event.user.photo }}" alt="" class="user-img">
              <p class="user-name">{{ event.user.name }}</p>
            </div>
            <div class="article-content">
                <p>
                    {{ event.detail | safe }}
                </p>
            </div>
          </div>
          <div class="right-article-box">
            <p class="title">事件动态</p>
            <div class="right-article-status">
              <div class="status-item">
                <div class="left-status-icon">
                  <span class="circle"></span>
                  <span class="line_1"></span>
                </div>
                <div class="right-status-text">
                  <p class="title">发布</p>
                  <p class="time">{{ event.created_at | hdatetime }}</p>
                </div>
              </div>
              {% if event.check_time %}
                  <div class="status-item">
                    <div class="left-status-icon">
                      <span class="circle"></span>
                      <span class="line_1"></span>
                    </div>
                    <div class="right-status-text">
                      <p class="title">审核</p>
                      <p class="time">{{ event.check_time | hdatetime }}</p>
                    </div>
                  </div>
              {% endif %}
              {% if event.solve_time %}
                  <div class="status-item">
                    <div class="left-status-icon">
                      <span class="circle"></span>
                      <span class="line_1"></span>
                    </div>
                    <div class="right-status-text">
                      <p class="title">解决</p>
                      <p class="time">{{ event.solve_time | hdatetime }}</p>
                    </div>
                  </div>
             {% endif %}
             {% if event_fb %}
                  <div class="status-item">
                    <div class="left-status-icon">
                      <span class="circle"></span>
                      <span class="line_1 long-line"></span>
                    </div>
                    <div class="right-status-text">
                      <p class="title">反馈</p>
                      <p class="time">{{ event_fb.created_at | hdatetime }}</p>
                      <div class="comment-box">
                        <p>{{ event_fb.content | safe }}</p>
                      </div>
                    </div>
                  </div>
              {% endif %}
            </div>
          </div>
        </div>
       <form method="post" action="{% url 'event_cmt_reply' event.id %}">
          <div class="comment-box">
              <textarea name="content" class="comment-text-area" rows="10" placeholder="说点什么"></textarea>
              <div class="btn-box">
                <button type="submit" class="comment-btn">评论</button>
              </div>
         </div>
       </form>
        <div class="all-comment-container forum-content-container">
          <p class="title">全部评论</p>
          <div class="comment-list-box">
            {% for event_cmt in event_comment_list %}
                <div class="comment-item">
                  <div class="top-comment">
                    <div class="img-box">
                        {% if event_cmt.user.photo %}
                            <img src="{% url 'index' %}media/{{ event_cmt.user.photo }}" alt="">
                        {% else %}
                            <img src="{% static 'web/images/touxiang_d.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="right-info-box">
                      <p class="name">{{ event_cmt.user.name }}<span>{{ event_cmt.created | hdatetime }}</span></p>
                      <p class="content">{{ event_cmt.content }}</p>
                         <div class="reply-box">
                           {% if event_cmt.reply %}
                            <div class="left">
                              {% if event_cmt.reply_lastest %}
                                  <div class="small-img-box">
                                       {% if event_cmt.reply_lastest.user.photo %}
                                        <img src="{% url 'index' %}media/{{ event_cmt.reply_lastest.user.photo }}" alt="">
                                     {% else %}
                                        <img src="{% static 'images/touxiang_d.png' %}" alt="">
                                     {% endif %}
                                  </div>
                                  <span class="num">{{ event_cmt.nums }} 条回复</span>
                                  <span class="text">最后回复 {{ event_cmt.reply_lastest.created_at | hdatetime  }}</span>
                              {% endif %}
                              {% if pwindow == "popen" and event_cmt.id == frpid %}
                                <a href="{% url 'event_detail' event.id %}?pwindow=pclose&frpid={{ event_cmt.id }}">
                                   <img src="{% static 'web/images/icon-bottom.png' %}" alt="" style="width: 14px;height: 14px;cursor: pointer;">
                                </a>
                              {% else %}
                                <a href="{% url 'event_detail' event.id %}?pwindow=popen&frpid={{ event_cmt.id }}">
                                    <img src="{% static 'web/images/icon-right.png' %}" alt="" style="width: 14px;height: 14px;cursor: pointer;">
                                </a>
                              {% endif %}
                           </div>
                          {% endif %}
                            <div class="left"></div>
                            <div class="right">
                              <a href="{% url 'event_detail' event.id %}?rwindow=ropen&frpid={{ event_cmt.id }}" class="el-button primary" style="width: 80px;height: 32px;margin-right: 10px;">回复</a>
                              <a href="{% url 'event_detail' event.id %}?rwindow=rclose&frpid={{ event_cmt.id }}" class="el-button primary" style="width: 80px;height: 32px;">收起</a>
                            </div>
                         </div>
                         {% if pwindow == "popen" and event_cmt.id == frpid %}
                            {% include 'web/pages/event/window/reply_list.html' %}
                         {% endif %}
                        </div>
                    </div>
                    {% if rwindow == "ropen" and event_cmt.id == frpid %}
                       {% include 'web/pages/event/window/reply.html' %}
                    {% endif %}
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</div>
 {% include 'web/layout/bottom.html' %}
{% endblock %}