{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/eventDetail.css' %}">
{% endblock %}
{% block content %}
{% include 'web/layout/header.html' %}
<div class="content-box">
    <div class="w1200">
      <p class="breadcrumb-navigation">
        <a href="{% url 'index' %}">首页</a> > <a href="{% url 'event' %}">事件</a> > <a class="blue">事件详情</a>
      </p>
      <div class="event-detail-container">
        <div class="article-box">
          <div class="left-article-box">
            <p class="title">{{ event.title }}<span>{{ event.event_cat.name }}</span></p>
            <p class="time">2021-06-20 10:50:11</p>
            <div class="info-box">
              <img src="{% url 'index' %}media/{{ event.user.photo }}" alt="" class="user-img">
              <p class="user-name">{{ event.user.name }}</p>
            </div>
            <div class="article-content">
                <p>
                    {{ event.detail | safe }}
                </p>
            </div>
          </div>
          <div class="right-article-box">
            <p class="title">事件动态</p>
            <div class="right-article-status">
              <div class="status-item">
                <div class="left-status-icon">
                  <span class="circle"></span>
                  <span class="line_1"></span>
                </div>
                <div class="right-status-text">
                  <p class="title">发布</p>
                  <p class="time">{{ event.created_at | hdatetime }}</p>
                </div>
              </div>
              {% if check_time %}
                  <div class="status-item">
                    <div class="left-status-icon">
                      <span class="circle"></span>
                      <span class="line_1"></span>
                    </div>
                    <div class="right-status-text">
                      <p class="title">审核</p>
                      <p class="time">{{ check_time | hdatetime }}</p>
                    </div>
                  </div>
              {% endif %}
              {% if solve_time %}
                  <div class="status-item">
                    <div class="left-status-icon">
                      <span class="circle"></span>
                      <span class="line_1"></span>
                    </div>
                    <div class="right-status-text">
                      <p class="title">解决</p>
                      <p class="time">{{ solve_time | hdatetime }}</p>
                    </div>
                  </div>
             {% endif %}
             {% if event_fb %}
                  <div class="status-item">
                    <div class="left-status-icon">
                      <span class="circle"></span>
                      <span class="line_1 long-line"></span>
                    </div>
                    <div class="right-status-text">
                      <p class="title">反馈</p>
                      <p class="time">{{ event_fb.created_at | hdatetime }}</p>
                      <div class="comment-box">
                        <p>{{ event_fb.content }}</p>
                      </div>
                    </div>
                  </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- 发布评论 -->
        <div class="comment-box">
          <textarea class="comment-text-area" rows="10" placeholder="说点什么"></textarea>
          <div class="btn-box">
            <div class="comment-btn">评论</div>
          </div>
        </div>
        <!-- 全部评论 all-comment -->
        <div class="all-comment-container">
          <p class="title">全部评论</p>
          <div class="comment-list">
            <div class="comment-item">
              <img class="user-img" src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
              <div class="content-info">
                <p class="user-name">用户名</p>
                <p class="comment-text">怎么会丢币的，真的找回了吗？</p>
                <div class="time-box"><p>1小时前</p><img src="https://iph.href.lu/18x15?fg=ffffff&bg=0b5394" alt=""></div>
              </div>
            </div>
            <div class="comment-item">
              <img class="user-img" src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
              <div class="content-info">
                <p class="user-name">用户名</p>
                <p class="comment-text">怎么会丢币的，真的找回了吗？</p>
                <div class="time-box"><p>1小时前</p><img src="https://iph.href.lu/18x15?fg=ffffff&bg=0b5394" alt=""></div>
                <div class="w1000 comment-box">
                  <textarea class="comment-text-area" rows="10" placeholder="说点什么"></textarea>
                  <div class="btn-box">
                    <div class="comment-btn">评论</div>
                  </div>
                </div>
                <div class="child-comment">
                  <img class="user-img" src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  <div class="content-info">
                    <p class="user-name">用户名</p>
                    <p class="comment-text">怎么会丢币的，真的找回了吗？</p>
                    <div class="time-box"><p>1小时前</p><img src="https://iph.href.lu/18x15?fg=ffffff&bg=0b5394" alt=""></div>
                    <div class="comment-box">
                      <textarea class="comment-text-area" rows="10" placeholder="说点什么"></textarea>
                      <div class="btn-box">
                        <div class="comment-btn">评论</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="child-comment">
                  <img class="user-img" src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  <div class="content-info">
                    <p class="user-name">用户名</p>
                    <p class="comment-text">怎么会丢币的，真的找回了吗？</p>
                    <div class="time-box"><p>1小时前</p><img src="https://iph.href.lu/18x15?fg=ffffff&bg=0b5394" alt=""></div>
                    <div class="comment-box">
                      <textarea class="comment-text-area" rows="10" placeholder="说点什么"></textarea>
                      <div class="btn-box">
                        <div class="comment-btn">评论</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% include 'web/layout/bottom.html' %}
{% endblock %}