{% extends 'web/layout/main.html' %}
{% load staticfiles cf_tags%}
{% block head %}
    <link rel="stylesheet" href="{% static 'web/css/event.css' %}">
{% endblock %}
{% block content %}
<div class="content-box">
    <div class="w1200">
      <!-- 头图 banner -->
      <div class="banner-container w1200">
        <img src="{% static 'images/banner_shijian.png' %}" alt="banner_fangfa">
        <p class="banner-title">全球领先的数字资产<br />安全追踪平台</p>
      </div>
      <div class="w1000 event-container">
        <div class="left-event-container">
          <div class="publish-btn-box">
            <p>致力于建设一个高效的安全协同网络，帮助数字资产用户进行溯源、追币、私钥找回等服务</p>
            <a class="publish-btn" href="{% url 'publish_event' %}" target="_blank">发布事件</a>
          </div>
          <ul class="tab-title-container">
            <li class="active">全部</li>
            <li>资产失窃</li>
            <li>钱包密码忘记</li>
            <li>助记词缺失</li>
            <li>其他</li>
          </ul>
          <div class="tab-content-container">
            <ul>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="{% url 'event_detail' 1 %}" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
            </ul>
            <ul>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
            </ul>
            <ul>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
            </ul>
            <ul>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
            </ul>
            <ul>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
              <li>
                <div class="left-info-box">
                  <div class="img-box">
                    <img src="https://iph.href.lu/50x50?fg=ffffff&bg=0b5394" alt="">
                  </div>
                  <div class="info-box">
                    <p class="name">用户名<span class="zc">资产失窃</span><span class="sh">未审核</span></p>
                    <p class="desc">30ETH被盗，183EOS被盗</p>
                    <p class="time">2021-06-20 10:50:11</p>
                  </div>
                </div>
                <a class="right-btn-box" href="./eventDetail.html" target="_blank">查看详情</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="right-event-container">
          <div class="tab-switch-box">
            <div class="title-switch-box">
              <p class="pageState"></p>
              <div class="switch-btn-box">
                <img class="prev" src="./images/zuo.png" alt="zuo">
                <img class="next" src="./images/you.png" alt="you">
              </div>
            </div>
            <div class="content-switch-box">
              <div class="content-switch-item">
                <p class="title">区块链小知识1</p>
                <p class="desc">全球领先的数字资产 安全追踪平台撒上收到请</p>
                <div class="detail-btn">查看详情</div>
              </div>
              <div class="content-switch-item">
                <p class="title">区块链小知识2</p>
                <p class="desc">全球领先的数字资产 安全追踪平台撒上收到请</p>
                <div class="detail-btn">查看详情</div>
              </div>
            </div>
          </div>
          <div class="user-feed-back">
            <p class="title">用户反馈</p>
            <div class="user-feed-back-item">
              <p class="name">用户名</p>
              <p class="desc">非常好，很快就帮我找回了丢币！</p>
            </div>
            <div class="user-feed-back-item">
              <p class="name">用户名</p>
              <p class="desc">非常好，很快就帮我找回了丢币！</p>
            </div>
            <div class="user-feed-back-item">
              <p class="name">用户名</p>
              <p class="desc">非常好，很快就帮我找回了丢币！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".left-event-container").slide({ titOnClassName: 'active', titCell:".tab-title-container li",mainCell:".tab-content-container", trigger:"click" });
    $(".tab-switch-box").slide({ mainCell: '.content-switch-box', prevCell: '.prev', nextCell: '.next', effect:"left", autoPlay: true })
  </script>
{% endblock %}